@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto","arial";
}
body {
    background-color:#fbf6f0;
}

.titulo {
    color: #ffebe7;
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
    font-family: "Roboto";
    text-shadow: 2px 2px 3px #683636;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    background-color: #e99191;
    font-size: 35px;
    color: #ffffffc7;
    text-align: start;
    padding: 4px 90px 4px 90px;
}

h4 {
    font-size: 20px;
    color: #fae7e7;
    padding: 0px 15px 15px 15px;
}

.navegador{
    background-color: rgb(170, 28, 28);
    padding: 5px 25px 5px 25px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.navegador-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.navegador-link a{
    display: block;
    padding: 20px 5px;
    color: white;
    text-decoration: none;
}
.portada {
    display: flex;
    justify-content: center;
    align-items: center;
}
.portada img{
    width: 100%; 
    height: 370px;
    object-fit:scale-down;
    padding: 15px;
    margin: 15px;
    z-index: 1;
}

.entrada1{
    width: 100%;
    height: 400px;
}

.entrada2{
    width: 100%;
    height: 400px;
}

.entrada3{
    width: 100%;
    height: 400px;
}

.entrada4{
    width: 100%;
    height: 400px;
}

.formulario-contactos {
    background-color: rgb(255, 235, 231);
    width: 90%;
    max-width: 600px; 
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.formulario-contactos section {
    margin-bottom: 20px;
}
.boton {
    width: 100%;
    background-color: #e99191;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.boton:hover {
    background-color: #d19696;
}

.formulario-contactos label {
    display: block;
    margin-bottom: 5px;
}

.formulario-contactos{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ffc5c5b9;
    border-radius: 5px;
}

.form-contactos-grupo{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin: 10px 0px;
}

.form-contactos-grupo-label{
  color: black;
}

.form-contactos-grupo-input{
    width: 100%;
    background-color: transparent;
    color: rgb(19, 1, 1);
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.form-contactos-grupo-input::placeholder{
    color:#ffffff
}

.form-contactos-grupo-input:focus{
    border: 3px solid rgb(240, 125, 125);
    outline: none;
}
.cajas {
    background-color: #fbf6f0;
    border: 4px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.caja {
    background: #e99191;
    width: 500px;
    padding: 15px;
    margin: 10px;
    border: 4px solid #d19696;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.parrafo1 {
        font-size: 21px;
        color: #e99191;
        text-align: start;
        padding: 30px 90px 0px 90px;
        text-shadow: 2px 2px 2px black;
    }

.galeria {
    width: 100%;
    margin: auto;
    padding: 23px 60px 60px 60px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,500px);
    grid-template-areas: "img1 img2 img3"
                         "img1 img4 img5";
}

.img1{
    grid-area: img1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.img2{
    grid-area: img2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.img3{
    grid-area: img3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.img3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.img4{
    grid-area: img4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.img4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.img5{
    grid-area: img5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.img5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parrafo2 {
        font-size: 21px;
        color: #ffffff;
        text-align: start;
        padding: 0px 20px 20px 20px;
}
 
.opciones{
    margin:30px 0px;
    width: 100%;
}

.opciones-opcion{
    background-color: #d19696;
    padding: 1px;
    color:white;
    text-align: center;
    border-radius: 5px;
}

.img-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media(max-width: 1024px){
    
}

@media(max-width: 992px){
    .titulo{
        font-size: 40px;
    }
}

@media(max-width: 768px){
    .titulo{
        font-size: 32px;
    }
    .formulario-contactos {
        width: 95%;
    }

    .img1, .img2, .img3, .img4, .img5 {
            padding: 0px;
            text-align: center;
            font-size: 13px; 
        }
    
    .parrafo2 {
            font-size: 13px; 
    }
    h4 {
        font-size: 13px;
        padding: 0px;
    }
    .galeria {
            padding: 1px;

}


@media(max-width: 556px){
    .img1, .img2, .img3, .img4, .img5 {
        padding: 0px;
        text-align: center;
        font-size: 8px; 
    }
    h4 {
        font-size: 10px;
        padding: 8px;
    }
    .parrafo2 {
               font-size: 8px; 
    } 
    .parrafo1{
              padding: 7px;
}
    h2{
        padding: 4px;
    }
}
}

footer {
    background-color: #d19696;
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    bottom: 0; 
    width: 100%; 
}